<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Please fill out the form to register</h3>
  </div>
  <div class="panel-body">
    <form class="form" name="regForm" ng-submit="submit(user)" novalidate role="form" ng-model-options="{updateOn:'keyup change click blur',debounce:{keyup:1000,click:0,change:0,blur:0}}" >

			<!-- EMAIL -->
      <div class="form-group">
        <label class="control-label" for="email">email:</label>
        <input class="form-control"
							 id="email"
							 name="email"
							 ng-model="user.email"
							 type="email"
							 placeholder="Enter email address"
							 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
							 required/>
        <span ng-show="regForm.email.$dirty && regForm.email.$invalid" style="color:red">
          <span ng-show="regForm.email.$error.required">Email is required.</span>
          <div ng-messages="regForm.email.$error" ng-messages-include="error-messages">
				    <span ng-message="pattern">Please enter a valid email address, the strict version!</span>
				  </div>
        </span>
      </div>

			<!-- CONFIRM EMAIL -->
      <div class="form-group">
        <label class="control-label" for="email2">confirm email:</label>
        <input class="form-control"
							 id="emailVerify"
							 name="emailVerify"
							 ng-model="user.emailVerify"
							 type="email"
							 placeholder="Confirm email address"
							 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
							 required
							 confirm-equal="user.email"/>
        <span ng-show="regForm.emailVerify.$dirty && regForm.emailVerify.$invalid" style="color:red">
          <span ng-show="regForm.emailVerify.$error.required">You need to confirm your email please.</span>
          <span ng-show="regForm.emailVerify.$error.confirmEqual">Your emails don't match.</span>
        </span>
      </div>

			<!-- PASSWORD -->
      <div class="form-group">
        <label class="control-label" for="password">password:</label>
        <input class="form-control"
							 id="password"
							 name="password"
							 ng-minlength="8"
							 ng-model="user.password"
							 placeholder="Enter password (minimum 8 characters)"
							 type="password"
							 required />
        <span ng-show="regForm.password.$dirty && regForm.password.$invalid" style="color:red">
          <span ng-show="regForm.password.$error.required">Password is required.</span>
          <span ng-show="regForm.password.$error.password">Invalid password.</span>
          <span class="error" ng-show="regForm.password.$error.minlength">Minimum 8 characters please!</span>
        </span>
      </div>

			<!-- CONFIRM PASSWORD -->
      <div class="form-group">
        <label class="control-label" for="password">confirm password:</label>
        <input class="form-control"
							 id="passwordVerify"
							 name="passwordVerify"
							 ng-model="user.passwordVerify"
							 placeholder="Confirm password"
							 type="password"
							 required
							 confirm-equal="user.password"/>
        <span ng-show="regForm.passwordVerify.$dirty && regForm.passwordVerify.$invalid" style="color:red">
          <span ng-show="regForm.passwordVerify.$error.required">You need to confirm your password please.</span>
          <span ng-show="regForm.passwordVerify.$error.confirmEqual">Your passwords don't match.</span>
        </span>
      </div>

      <!-- SSN -->
      <div class="form-group">
        <label class="control-label" for="ssn">social security number:</label>
        <input class="form-control"
							 id="ssn"
							 name='ssn'
							 ng-model='user.ssn'
							 type='text' ng-minlength="10" ng-maxlength="10"
							 placeholder="Enter Social security number (10 digits)"
							 luhn-check/>
				<span ng-show="regForm.ssn.$dirty && regForm.ssn.$invalid" style="color:red">
	        <span class='error' ng-show="!regForm.ssn.$error.maxlength && !regForm.ssn.$error.minlength && regForm.ssn.$error['luhn-check']">This is not a valid social security number (failed Luhn check)</span>
					<span class="error" ng-show="regForm.ssn.$error.minlength">Minimum 10 characters please!</span>
					<span class="error" ng-show="regForm.ssn.$error.maxlength">Maximum 10 characters please!</span>
				</span>
      </div>

      <div class="form-group">
				<a ng-href="#/home">
	        <button class="btn btn-primary">Go back and read the instructions</button>
	      </a>
        <button class="btn btn-primary pull-right" ng-disabled="!regForm.$valid">Register</button>
      </div>

    </form>
  </div>
</div>
<div id="congrats" ng-model="congrats" ng-class="{'visible': congrats}">
	Well done!
</div>
